<%- include('./partials/header') %>

<h2>Hello All</h2>
<p>This is a website where you are able to look at past and currently airing anime. You can leave add them to your personal list and add reviews only if you are logged in. Sign up in and be teleported to your aniPortal!</p>

<%- include('./partials/footer') %>