<%- include('./partials/header') %>

<main id="home-back">
  <div class="home-container">
    <div class="home-content">
      <h1>Hello All</h2>
      <p>This is a website where you can explore past and currently airing anime. You can add them to your personal list
        and leave reviews, but you need to be logged in to do so.</p>
      <p>Sign up and enter your aniPortal!</p>
      <p>This page is still a work in progress</p>
      <img id="thank-you" src="../images/thankYou.png" alt="Thank You">
      </div>
    </div>
  </main>
    
<%- include('./partials/footer') %>